@model WebDuLichDev.Models.LocalPasswordModel

<h3>@Resources.Language.ChangePassword</h3>

@using (Html.BeginForm("Changepassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@Resources.Language.ChangePassword</legend>
        <ol>
            <li>
                @Html.Label(Resources.Language.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.Label(Resources.Language.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.Label(Resources.Language.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                <input type="submit" value="@Resources.Language.ChangePassword" class="btn btn-success btn-large" />
            </li>
        </ol>
        
    </fieldset>
}
