@model WebDuLichDev.Models.LocalPasswordModel

<p>
    Bạn chưa có tài khoản trong kho dữ liệu của chúng tôi. 
    Thêm Tài Khoản vào kho dữ liệu và bạn sẽ đăng nhập không cần thông qua Mạng xã hội nữa.
</p>

@using (Html.BeginForm("Changepassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                @Html.Label(Resources.Language.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.Label(Resources.Language.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                <input type="submit" value="@Resources.Language.SetPassword" class="btn btn-success btn-large" />
            </li>
        </ol>        
    </fieldset>
}
