@model WebDuLichDev.Models.LocalPasswordModel
@{
    ViewBag.Title = "Changepassword";
}

<hgroup class="title">
   
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>@Resources.Language.msg_LoginWith <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
