<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Styles.Render("~/Scripts/Lib/fotorama/fotorama.css")
    @Scripts.Render("~/Scripts/Lib/fotorama/fotorama.js")
    @Scripts.Render("~/Scripts/Lib/fotorama/jquery.js")

</head>
<body>
    @RenderBody()
</body>
</html>
